[submodule "Core/3rdparty/glfw"]
	path = Core/3rdparty/glfw
	url = https://github.com/glfw/glfw
[submodule "Core/3rdparty/glm"]
	path = Core/3rdparty/glm
	url = https://github.com/g-truc/glm
[submodule "Core/3rdparty/concurrentqueue"]
	path = Core/3rdparty/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue
[submodule "Core/3rdparty/rpmalloc"]
	path = Core/3rdparty/rpmalloc
	url = https://github.com/rampantpixels/rpmalloc
[submodule "Core/3rdparty/plthook"]
	path = Core/3rdparty/plthook
	url = https://github.com/kubo/plthook
[submodule "Core/3rdparty/tinygltf"]
	path = Core/3rdparty/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "Core/3rdparty/uWebSockets"]
	path = Core/3rdparty/uWebSockets
	url = https://github.com/uNetworking/uWebSockets
[submodule "Core/3rdparty/zlib"]
	path = Core/3rdparty/zlib
	url = https://github.com/madler/zlib
